absl-py==2.1.0
aiocron==1.8
aiofiles==24.1.0
aiohttp==3.11.10
APScheduler==3.9.1.post1
attrs==23.1.0
beautifulsoup4==4.12.2
certifi==2025.1.31
click==8.1.7
Flask==3.0.0
Flask-Limiter==3.8.0
Flask-WTF==1.2.1
gevent==23.7.0
googletrans==4.0.0rc1
Jinja2==3.1.4
numpy==1.26.0
openai==0.27.8
pandas==2.2.3
requests==2.32.3
scikit-learn==1.5.2
tensorflow==2.18.0
Werkzeug==3.0.1
